extends ../layout.pug
block content
        h2 Editar lista
        br
        form(action="/listas/gest_listas/" method="POST" enctype="multipart/form-data")
            div
                label(for="nombre") Nombre para la lista:
                input(name="nombre" required type="text" id="nombre" value="")
                br
                td(style='text-align:right;vertical-align:middle;') Semestre:  
                    td
                        select(name="pksemestre" class="" id="pksemestre")
                            option(value='-1', selected='') selecciona el semestre
                                each val in s
                                    option(value=val.pksemestre) !{val.semestre}
                br
                td(style='text-align:right;vertical-align:middle;') Grupo:  
                    td
                        select(name="pkgrupo" class="" id="pkgrupo")
                            option(value='-1', selected='') selecciona el grupo
                                each val in g
                                    option(value=val.pkgrupo) !{val.grupo}
                br
                td(style='text-align:right;vertical-align:middle;') Materia:  
                    td
                        select(name="pkmateria" class="" id="pkmateria")
                            option(value='-1', selected='') selecciona materia
                                each val in mat
                                    option(value=val.pkmateria) !{val.materia}
                br
                td(style='text-align:right;vertical-align:middle;') Maestro:  
                    td
                        select(name="pkmaestro" class="" id="pkmaestro")
                            option(value='-1', selected='') selecciona el maestro
                                each val in ma
                                    option(value=val.pkmaestro) !{val.nom_maestro}
                br
            div
                input(type="submit" value="Guardar lista" class="btn btn-info")
                br
                br