extends ../layout

block content
  h1= 'Gestion de materias'
  p Desde aqui puedes agregar o eliminar materias a la plataforma
  
  body
    section
      div
        form(action="/materias/gest_materias/cargamasiva" method="post" enctype="multipart/form-data")
          div
            input(type="file" name="materias")
          div
            input(type="submit" value="ingreso" class="btn btn-primary")
            br
            br
    div
      form(action="/materias/gest_materias" method="POST" enctype="multipart/form-data")
        div
          label(for="materia") Materia nueva:  
          input(name="materia" required type="text" placeholder="materia" id="materia")
          br
          td(style='text-align:right;vertical-align:middle;') Semestre:
            td
              select(name='pksemestre' class='' id="pksemestre")
                option(value='-1', selected='') Selecciona el semestre
                  each val in s
                      option(value=val.pksemestre) !{val.semestre}
          br
        div
          input(type="submit" value="ingreso" class="btn btn-primary")
          br
          br
    div(class="table-responsive")
     table(class="table table-hover table-sm table-bordered")
        thead()
          tr
            th(class="text-center"  scope="col")= 'MATERIA'
            th(class="text-center"  scope="col")= 'SEMESTRE'
            th(class="text-center"  scope="col")= ''
        each val in r
          tbody(class="text-center")  
            tr
              th(scope="col")= val.materia
              th(scope="col")= val.semestre
                td
                  a(href="/materias/gest_materias/" + val.pkmateria + "/edit",class="right-space") Editar
                  form(action="/materias/gest_materias/"+val.pkmateria+"?_method=delete",method="POST" enctype="multipart/form-data")
                    input(type="submit", value="Eliminar" class="btn btn-danger")
